@charset "UTF-8";
/*-------------Обнуление--------------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----ПЕРЕМЕННЫЕ----*/
/*-------------Общие стили--------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #999999;
  background-color: #f4f5f9;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
}

.title {
  font-family: "Source Sans Pro", sans-serif;
}

.decoration-title::after {
  display: block;
  content: "";
  width: 195px;
  height: 7px;
  margin: 45px auto;
  background: url(../img/decor.png) center/cover no-repeat;
}
@media (max-width: 1320px) {
  .decoration-title::after {
    margin: 35px auto;
  }
}
@media (max-width: 1120px) {
  .decoration-title::after {
    margin: 30px auto;
  }
}
@media (max-width: 920px) {
  .decoration-title::after {
    margin: 25px auto;
  }
}

.text {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 24px;
}
@media (max-width: 1120px) {
  .text {
    line-height: 22px;
  }
}
@media (max-width: 992.98px) {
  .text {
    line-height: 20px;
  }
}
@media (max-width: 767.98px) {
  .text {
    line-height: 19px;
  }
}

.btn {
  padding: 15px 0;
  text-transform: uppercase;
  border: 1px solid;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 920px) {
  .btn {
    padding: 12px 0;
    font-size: 12px;
  }
}

.section {
  padding: 120px 0;
}
@media (max-width: 1200px) {
  .section {
    padding: 100px 0;
  }
}
@media (max-width: 992.98px) {
  .section {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .section {
    padding: 70px 0;
  }
}
@media (max-width: 500px) {
  .section {
    padding: 55px 0;
  }
}
.section__title {
  font-size: 36px;
  font-weight: 700;
  color: #6a6a6a;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .section__title {
    font-size: 34px;
  }
}
@media (max-width: 992.98px) {
  .section__title {
    font-size: 30px;
  }
}
@media (max-width: 767.98px) {
  .section__title {
    font-size: 28px;
  }
}
.section__subtitle {
  display: block;
  max-width: 565px;
  margin: 29px auto 0;
  text-align: center;
}
@media (max-width: 767.98px) {
  .section__subtitle {
    max-width: 320px;
  }
}

/*----BANNER----*/
.banner {
  color: #f4f5f9;
  z-index: 5;
}
.banner__content {
  max-width: 790px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.banner__suptitle {
  margin-bottom: 45px;
  font-size: 24px;
  letter-spacing: 1.2px;
}
@media (max-width: 1320px) {
  .banner__suptitle {
    margin-bottom: 40px;
    font-size: 20px;
  }
}
@media (max-width: 1120px) {
  .banner__suptitle {
    margin-bottom: 35px;
  }
}
@media (max-width: 920px) {
  .banner__suptitle {
    margin-bottom: 30px;
    font-size: 18px;
  }
}
.banner__title {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1320px) {
  .banner__title {
    font-size: 60px;
  }
}
@media (max-width: 1120px) {
  .banner__title {
    font-size: 50px;
  }
}
@media (max-width: 920px) {
  .banner__title {
    font-size: 40px;
  }
}
@media (max-width: 720px) {
  .banner__title {
    font-size: 30px;
  }
}
.banner__text {
  display: block;
  margin: 0 auto 40px;
  max-width: 560px;
}
.banner__buttons {
  max-width: 430px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1320px) {
  .banner__buttons {
    max-width: 400px;
  }
}
@media (max-width: 1120px) {
  .banner__buttons {
    max-width: 340px;
  }
}
@media (max-width: 520px) {
  .banner__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.banner__btn {
  width: 200px;
  color: #ffffff;
}
.banner__btn:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1320px) {
  .banner__btn {
    width: 180px;
  }
}
@media (max-width: 1120px) {
  .banner__btn {
    width: 155px;
  }
}
@media (max-width: 720px) {
  .banner__btn {
    width: 120px;
  }
}
@media (max-width: 520px) {
  .banner__btn:first-child {
    margin-bottom: 10px;
  }
}
.banner__link {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider {
  position: relative;
}
.slider__content {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.slider__item {
  height: 100vh;
  display: inline-block;
  position: relative;
}
.slider__item:nth-child(1) {
  background: url(../img/bg/sh.png), url(../img/bg/2.jpg) center/cover no-repeat;
}
.slider__item:nth-child(2) {
  background: url(../img/bg/sh.png), url(../img/bg/4.jpg) center/cover no-repeat;
}
.slider__item:nth-child(3) {
  background: url(../img/bg/sh.png), url(../img/bg/3.jpg) center/cover no-repeat;
}

.prev, .next {
  width: 45px;
  height: 45px;
  padding-top: 10px;
  position: absolute;
  top: 50%;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  background-color: #706a64;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}
.prev:hover, .next:hover {
  background-color: #e74c3c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1200px) {
  .prev, .next {
    width: 40px;
    height: 40px;
    padding-top: 8px;
  }
}
@media (max-width: 992.98px) {
  .prev, .next {
    width: 35px;
    height: 35px;
    padding-top: 7px;
    font-size: 24px;
  }
}

.prev {
  left: 30px;
  padding-right: 2px;
}
@media (max-width: 700px) {
  .prev {
    left: 15px;
  }
}

.next {
  right: 30px;
  padding-left: 2px;
}
@media (max-width: 700px) {
  .next {
    right: 15px;
  }
}

/*----ABOUT-----*/
.about {
  padding: 92px 0 112px;
  border-bottom: 1px solid #e6e7eb;
}
@media (max-width: 992.98px) {
  .about {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .about {
    padding: 50px 0 30px;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992.98px) {
  .about__content {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.about__item {
  width: 22%;
  text-align: center;
}
.about__item:hover .about__item-icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #e74c3c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.about__item:hover .about-icon {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.about__item:hover .about__item-title {
  color: #e74c3c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 992.98px) {
  .about__item {
    width: 40%;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .about__item {
    width: 70%;
  }
}
.about__item-icon {
  width: 73px;
  height: 73px;
  margin: 0 auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #999999;
}
@media (max-width: 767.98px) {
  .about__item-icon {
    width: 58px;
    height: 58px;
    margin: 0 auto 22px;
  }
}
.about__item-title {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  color: #6a6a6a;
  text-transform: uppercase;
}
.about__item-title::after {
  content: "";
  display: block;
  width: 41px;
  height: 2px;
  margin: 15px auto;
  background-color: #6a6a6a;
}
@media (max-width: 767.98px) {
  .about__item-title::after {
    margin: 12px auto;
  }
}
@media (max-width: 767.98px) {
  .about__item-title {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .about__item-title {
    font-size: 14px;
  }
}
@media (max-width: 767.98px) {
  .about__item-text {
    font-size: 12px;
  }
}

.about-icon {
  font-size: 22px;
  color: #e74c3c;
}

/*----HISTORY----*/
.history__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .history__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.history .section__title {
  text-align: left;
}
.history__img {
  width: 32%;
}
@media (max-width: 767.98px) {
  .history__img {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .history__img {
    width: 50%;
  }
}
.history__info {
  width: 55%;
}
@media (max-width: 767.98px) {
  .history__info {
    width: 90%;
  }
}
.history__title {
  margin-bottom: 55px;
}
.history__title::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 36px;
  margin-right: 30px;
  background-color: #e74c3c;
}
@media (max-width: 992.98px) {
  .history__title::before {
    height: 28px;
  }
}
@media (max-width: 767.98px) {
  .history__title::before {
    margin-right: 20px;
    height: 25px;
  }
}
@media (max-width: 1200px) {
  .history__title {
    margin-bottom: 45px;
  }
}
@media (max-width: 992.98px) {
  .history__title {
    margin-bottom: 35px;
  }
}
@media (max-width: 767.98px) {
  .history__title {
    margin-bottom: 30px;
  }
}
.history__text {
  margin-bottom: 40px;
}
.history__text:last-child {
  margin-bottom: 0;
}
@media (max-width: 992.98px) {
  .history__text {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .history__text {
    margin-bottom: 25px;
  }
  .history__text:last-child {
    margin-bottom: 25px;
  }
}
@media (max-width: 500px) {
  .history__text {
    margin-bottom: 15px;
  }
}
.history__btn {
  display: block;
  width: 180px;
  color: #ffffff;
  text-align: center;
  background-color: #e74c3c;
}
.history__btn:hover {
  color: #e74c3c;
  background-color: #fff;
  border-color: #e74c3c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 992.98px) {
  .history__btn {
    width: 160px;
  }
}
@media (max-width: 767.98px) {
  .history__btn {
    width: 150px;
    margin: 0 auto 20px;
  }
}
@media (max-width: 500px) {
  .history__btn {
    width: 135px;
  }
}

/*----SERVICES----*/
.services {
  background-color: #202020;
}
.services .section__title {
  text-align: right;
}
.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services__info {
  padding: 120px 0;
  width: 55%;
  text-align: right;
}
@media (max-width: 1200px) {
  .services__info {
    padding: 100px 0;
  }
}
@media (max-width: 992.98px) {
  .services__info {
    padding: 80px 0;
  }
}
@media (max-width: 767.98px) {
  .services__info {
    padding: 60px 0;
    width: 96%;
  }
}
.services__title {
  margin-bottom: 75px;
  margin-right: 15%;
}
.services__title::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 36px;
  margin-left: 30px;
  background-color: #e74c3c;
}
@media (max-width: 992.98px) {
  .services__title::after {
    height: 28px;
  }
}
@media (max-width: 767.98px) {
  .services__title::after {
    margin-left: 20px;
    height: 25px;
  }
}
@media (max-width: 1200px) {
  .services__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 992.98px) {
  .services__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .services__title {
    margin-bottom: 30px;
  }
}
.services__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 67px;
}
.services__info-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  .services__info-item {
    margin-bottom: 55px;
  }
}
@media (max-width: 992.98px) {
  .services__info-item {
    margin-bottom: 45px;
  }
}
@media (max-width: 767.98px) {
  .services__info-item {
    margin-bottom: 30px;
  }
}
.services__item-info {
  width: 85%;
  padding-left: 19%;
}
@media (max-width: 767.98px) {
  .services__item-info {
    padding-left: 2%;
  }
}
.services__item-title {
  margin-bottom: 19px;
  font-size: 18px;
  font-weight: 600;
  color: #e74c3c;
  text-transform: uppercase;
}
@media (max-width: 992.98px) {
  .services__item-title {
    font-size: 16px;
  }
}
.services__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -32px;
  width: 64px;
  height: 64px;
  background-color: #f4f5f9;
  border-radius: 50%;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .services__item-icon {
    margin-right: 0;
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 450px) {
  .services__item-icon {
    margin-left: 12px;
  }
}
.services__icon {
  font-size: 18px;
  color: #e74c3c;
}
@media (max-width: 767.98px) {
  .services__icon {
    font-size: 16px;
  }
}
.services__img {
  width: 45%;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .services__img {
    display: none;
  }
}

/*----WORKS----*/
.works {
  padding-bottom: 0;
}
.works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #e74c3c;
}
.works__item {
  width: 25%;
  position: relative;
}
@media (max-width: 767.98px) {
  .works__item {
    width: 50%;
  }
}
.works__item:hover .works__item-img {
  opacity: 0.3;
}
.works__item:hover .works__item-info {
  opacity: 1;
}
.works__item-img {
  width: 100%;
  height: 100%;
}
.works__item-img:hover {
  opacity: 0.3;
}
.works__item-info {
  position: absolute;
  top: 75%;
  left: 10%;
  -webkit-transform: translate(-10%, -75%);
          transform: translate(-10%, -75%);
  opacity: 0;
}
.works__item-title {
  display: block;
  margin-bottom: 20px;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .works__item-title {
    font-size: 18px;
  }
}
.works__item-link {
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.works__item-link:not(:last-child):after {
  content: "/";
  display: inline-block;
  margin-left: 7px;
}
.works__item-link:hover {
  text-decoration: underline;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 700px;
  margin: 0 auto 50px;
}
@media (max-width: 767.98px) {
  .tabs__nav {
    margin: 0 auto 30px;
    max-width: 400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.tabs__nav-btn {
  color: #999999;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .tabs__nav-btn {
    width: 32%;
    margin-bottom: 5px;
    font-size: 12px;
  }
}
.tabs__nav-btn:not(:last-child)::after {
  content: "/";
  display: inline-block;
  height: 16px;
  width: 15px;
  margin-left: 20px;
  color: #999999;
}
@media (max-width: 767.98px) {
  .tabs__nav-btn:not(:last-child)::after {
    margin-left: 20px;
  }
}
@media (max-width: 520px) {
  .tabs__nav-btn:not(:last-child)::after {
    margin-left: 15px;
  }
}
@media (max-width: 365px) {
  .tabs__nav-btn:not(:last-child)::after {
    margin-left: 7px;
  }
}
.tabs__nav-btn:hover {
  color: #6a6a6a;
}
.tabs__nav-btn.active {
  color: #e74c3c;
}
.tabs__item {
  display: none;
}
.tabs__item.active {
  display: block;
}

/*----CASE-STUDY----*/
.case-study__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  background: url(../img/10.png) center right no-repeat;
}
@media (max-width: 767.98px) {
  .case-study__content {
    padding: 30px 0;
    background: url(../img/10.png) right no-repeat;
  }
}
.case-study__slider {
  max-width: 620px;
  padding: 50px 0;
  margin-right: -80px;
  background-color: #ffffff;
}
@media (max-width: 1180px) {
  .case-study__slider {
    margin-right: 0;
  }
}
@media (max-width: 992.98px) {
  .case-study__slider {
    max-width: 500px;
  }
}
@media (max-width: 767.98px) {
  .case-study__slider {
    padding: 30px 0;
  }
}
@media (max-width: 550px) {
  .case-study__slider {
    width: 310px;
  }
}
.case-study__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100px;
  margin: 0 auto;
}
.case-study__slider .slick-dots li {
  list-style: none;
}
.case-study__slider .slick-dots li.slick-active button {
  background-color: #e74c3c;
}
.case-study__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #999999;
}
.case-study__slider-content {
  overflow: hidden;
}
.case-study__slider-item {
  display: inline-block;
  position: relative;
}
.case-study__info {
  padding-top: 15px;
}
.case-study__info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75px;
  height: 75px;
  margin: 0 auto 60px;
  background-color: #e74c3c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (max-width: 767.98px) {
  .case-study__info-icon {
    width: 65px;
    height: 65px;
    margin: 0 auto 45px;
  }
}
.case-study__icon {
  font-size: 20px;
  color: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.case-study__info-title {
  font-size: 18px;
  font-weight: 600;
  color: #6a6a6a;
  text-align: center;
  text-transform: uppercase;
}
.case-study__info-title::after {
  content: "";
  display: block;
  width: 41px;
  height: 2px;
  margin: 25px auto;
  background-color: #6a6a6a;
}
@media (max-width: 767.98px) {
  .case-study__info-title::after {
    margin: 15px auto;
  }
}
.case-study__info-text {
  display: block;
  max-width: 535px;
  margin: 0 auto 45px;
  text-align: center;
}
@media (max-width: 992.98px) {
  .case-study__info-text {
    max-width: 400px;
  }
}
@media (max-width: 767.98px) {
  .case-study__info-text {
    margin: 0 auto 35px;
  }
}
@media (max-width: 550px) {
  .case-study__info-text {
    width: 280px;
  }
}
.case-study__info-btn {
  display: block;
  width: 125px;
  margin: 0 auto 53px;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.case-study__img {
  width: 45%;
  z-index: 1;
}

/*----STATISTICS-----*/
.statistics {
  background: url(../img/bg/bg2.png) center/cover no-repeat;
}
.statistics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}
.statistics__content.element-animation.element-show {
  opacity: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}
@media (max-width: 650px) {
  .statistics__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.statistics__item {
  width: 17%;
  color: #f4f5f9;
  text-align: center;
}
@media (max-width: 650px) {
  .statistics__item {
    width: 25%;
    margin: 0 7px 10px;
  }
}
.statistics__icon-box {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 49px;
  border: 1px solid #f4f5f9;
  border-radius: 50%;
}
@media (max-width: 992.98px) {
  .statistics__icon-box {
    width: 80px;
    height: 80px;
  }
}
.statistics__icon {
  font-size: 26px;
  color: #f4f5f9;
}
.statistics__count {
  display: block;
  margin: 0 auto 20px;
  font-size: 18px;
  font-weight: 600;
  color: #f4f5f9;
  text-align: center;
}
.statistics__title {
  display: block;
  margin: 0 auto;
  color: #f4f5f9;
}

/*---PRICING---*/
.pricing {
  background-color: #ffffff;
}
.pricing__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767.98px) {
  .pricing__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.pricing__card {
  width: 30%;
  padding-bottom: 50px;
  background-color: #f4f5f9;
}
.pricing__card:hover .pricing__card-title {
  background-color: #e74c3c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__card:hover .card-price {
  color: #e74c3c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 1100px) {
  .pricing__card {
    width: 31%;
  }
}
@media (max-width: 767.98px) {
  .pricing__card {
    width: 45%;
    margin-bottom: 15px;
    padding-bottom: 40px;
  }
  .pricing__card:first-child {
    margin-right: 15px;
  }
}
@media (max-width: 550px) {
  .pricing__card {
    width: 78%;
    padding-bottom: 30px;
  }
  .pricing__card:first-child {
    margin-right: 0;
  }
}
.pricing__card-title {
  display: block;
  width: 100%;
  padding: 50px 0 136px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background-color: #999999;
}
@media (max-width: 1100px) {
  .pricing__card-title {
    padding: 50px 0 100px;
  }
}
@media (max-width: 767.98px) {
  .pricing__card-title {
    padding: 40px 0 85px;
  }
}
.pricing__card-price {
  display: block;
  width: 154px;
  height: 154px;
  margin: -60px auto 47px;
  padding-top: 40px;
  color: #999999;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
}
@media (max-width: 1100px) {
  .pricing__card-price {
    width: 134px;
    height: 134px;
    margin: -50px auto 37px;
  }
}
@media (max-width: 767.98px) {
  .pricing__card-price {
    width: 124px;
    height: 124px;
    padding-top: 30px;
    margin: -40px auto 27px;
  }
}
.pricing__card-text {
  display: block;
  margin: 0 auto 25px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .pricing__card-text {
    margin: 0 auto 15px;
  }
}
.pricing__card-btn {
  display: block;
  max-width: 120px;
  margin: 30px auto 0;
  text-align: center;
  -webkit-box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #999999;
  color: #ffffff;
  border-color: #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pricing__card-btn:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-price {
  display: block;
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: 700;
}

.header {
  width: 100%;
  padding-top: 15px;
  position: absolute;
  top: 0;
  z-index: 5;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  width: 78%;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992.98px) {
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__nav-link {
  margin: 0 25px;
  padding-bottom: 15px;
  color: #f4f5f9;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}
.header__nav-link:hover {
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
}
@media (max-width: 992.98px) {
  .header__nav-link {
    display: block;
    font-size: 16px;
  }
}

.nav__icon {
  display: block;
}
@media (max-width: 992.98px) {
  .nav__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-left: 65%;
    z-index: 10;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .nav__icon span {
    position: absolute;
    background-color: #f4f5f9;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    top: 9px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before, .nav__icon::after {
    content: "";
    background-color: #f4f5f9;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon.active span {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  .nav__icon.active::before {
    -webkit-transform: rotate(-47deg);
            transform: rotate(-47deg);
    width: 75%;
  }
  .nav__icon.active::after {
    -webkit-transform: rotate(47deg);
            transform: rotate(47deg);
    width: 75%;
  }
}
@media (max-width: 992.98px) {
  .nav__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #31353f;
    padding-top: 180px;
    z-index: 5;
  }
}
.nav__body.active {
  top: 0;
}